.btn-group-sm > .btn,
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 20; 
}
.trash{
  background-color: red;
}

.btn-info {
  color: #ffffff; 
  background-color: rgb(14, 93, 184);
  border-color: #ced4da;
}
